/* About */

.about_content {
    z-index: -2;
    position: relative;
    text-align: center;
    color: white;
    background-image: url("../../img/home-page/background-header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.section_heading {
    color: var(--primary-color);
    text-transform: uppercase;
}

.section_subheading {
    color: white !important;
}

.about_title {
    display: flex;
    align-items: center;
}

.about_title h3 {
    padding: 0 25px;
    margin: 0;
}

.about_body {
    padding: 25px 0;
    text-align: left;
}